@{ ViewBag.Title = "主页"; }

<div class="jumbotron">
    <h2>任务调度系统</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="list-group">
            @Html.ActionLink("邮件作业", "Index", "Email", new { area = "" }, new { @class = "list-group-item" })
            @Html.ActionLink("测试作业", "Index", "Test", new { area = "" }, new { @class = "list-group-item" })
        </div>
    </div>
</div>